<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam maiores tenetur tempore 
        voluptatibus aliquam dicta. Consectetur nemo inventore earum nulla aliquam illum aperiam, 
        perferendis adipisci animi eos maiores. Officiis, maiores?
    </p>
    <button>click me!</button>
</body>
</html>