<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Homepage 1*3</h1>
    <h3> <%= 2 * 4 %> </h3>
    <h3><%= ["hello","bonjour","namaste"][2] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ratione doloribus atque consequuntur,
        aperiam providentomnis architecto quas consectetur doloremque, ad, sunt minima natus nulla voluptatum
        facere cupiditate saepe in!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad reiciendis omnis
        ipsum dolores officiis veniam quo adipisci ex placeat a odio tempora, minus sint animi, esse cumque nisi
        perspiciatis dolore.
    </p>
    <button>click me</button>
</body>
</html>