<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New USer into DB</title>
</head>
<body>
    <h1>Add New User into DB</h1>
    <form method="post" action="/users">
        <input name="id" placeholder="Enter id" type="number"/>
        <input name="username" placeholder="Enter Username" type="text"/>
        <input name="password" placeholder="Enter password" type="password"/>
        <input name="email" placeholder="Enter email" type="text"/>
        <button>Add User</button>
    </form>
</body>
</html>