<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <h1>You are about to edit the username: <%=user.email%></h1>
    <form method="post" action="/users/<%=user.id%>?_method=PATCH">
        <textarea name="username"><%=user.username %></textarea>
        <input name="password" type="password" placeholder="Enter password"/>
        <button>Edit</button>
    </form>
</body>
</html>