<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>The total number of users : <%= count %></h1>
    <form method="get" action="/users/addnew">
           <button>Join us Today!</button>
    </form>
</body>
</html>